@(data: List[CSVRow])

@main("About") {
<h1>This is team HSYL</h1>
<h2>Input Bars</h2>

<form action="@routes.HomeController.processInputs()" method="post">
    <div>
        <label for="age">age:</label>
        <input type="text" id="age" name="age">
    </div>

    <div>
        <label for="gender">gender:</label>
        <input type="text" id="gender" name="gender">
    </div>

    <div>
        <label for="exercise">exercise:</label>
        <input type="text" id="exercise" name="exercise">
    </div>
    <div>
        <label for="qualityOfSleep">quality of Sleep:</label>
        <input type="text" id="qualityOfSleep" name="qualityOfSleep">
    </div>
    <div>
        <label for="sleepDuration">sleep duration:</label>
        <input type="text" id="sleepDuration" name="sleepDuration">
    </div>
    <div>
        <label for="stressLevel">stress level:</label>
        <input type="text" id="stressLevel" name="stressLevel">
    </div>

    <button type="submit">Submit</button>
</form>
<table class="table">
    <thead>
    <tr>
        <th>Age</th>
        <th>BMI Category</th>
        <th>Blood Pressure</th>
        <th>Gender</th>
        <th>Physical Activity Level</th>
        <th>Quality of Sleep</th>
        <th>Sleep Duration</th>
        <th>Stress Level</th>
        <th>ID</th>
    </tr>
    </thead>
    <tbody>
    @for(row <- data) {
    <tr>
        <td>@row.Age</td>
        <td>@row.BMI_Category</td>
        <td>@row.Blood_Pressure</td>
        <td>@row.Gender</td>
        <td>@row.PhysicalActivity_Level</td>
        <td>@row.Quality_Of_Sleep</td>
        <td>@row.Sleep_Duaration</td>
        <td>@row.Stress_Level</td>
        <td>@row.ID</td>
    </tr>
    }
    </tbody>
</table>
}
