@(data: List[CSVRow])

@main("About") {
<h1>This is team HSYL</h1>
<h2>Input Bars</h2>

<form action="@routes.HomeController.processInputs()" method="POST">
    <div>
        <label for="input1">Input 1:</label>
        <input type="text" id="input1" name="input1">
    </div>

    <div>
        <label for="input2">Input 2:</label>
        <input type="text" id="input2" name="input2">
    </div>

    <div>
        <label for="input3">Input 3:</label>
        <input type="text" id="input3" name="input3">
    </div>

    <button type="submit">Submit</button>
</form>
<table class="table">
    <thead>
    <tr>
        <th>Age</th>
        <th>BMI Category</th>
        <th>Blood Pressure</th>
        <th>Gender</th>
        <th>Physical Activity Level</th>
        <th>Quality of Sleep</th>
        <th>Sleep Duration</th>
        <th>Stress Level</th>
        <th>ID</th>
    </tr>
    </thead>
    <tbody>
    @for(row <- data) {
    <tr>
        <td>@row.Age</td>
        <td>@row.BMI_Category</td>
        <td>@row.Blood_Pressure</td>
        <td>@row.Genter</td>
        <td>@row.PhysicalActivity_Level</td>
        <td>@row.Quality_Of_Sleep</td>
        <td>@row.Sleep_Duaration</td>
        <td>@row.Stress_Level</td>
        <td>@row.ID</td>
    </tr>
    }
    </tbody>
</table>
}
