@(data: List[CSVRow])

@main("About") {
<h1>This is team HSYL</h1>
<table class="table">
    <thead>
    <tr>
        <th>Age</th>
        <th>BMI Category</th>
        <th>Blood Pressure</th>
        <th>Gender</th>
        <th>Physical Activity Level</th>
        <th>Quality of Sleep</th>
        <th>Sleep Duration</th>
        <th>Stress Level</th>
        <th>ID</th>
    </tr>
    </thead>
    <tbody>
    @for(row <- data) {
    <tr>
        <td>@row.Age</td>
        <td>@row.BMI_Category</td>
        <td>@row.Blood_Pressure</td>
        <td>@row.Genter</td>
        <td>@row.PhysicalActivity_Level</td>
        <td>@row.Quality_Of_Sleep</td>
        <td>@row.Sleep_Duaration</td>
        <td>@row.Stress_Level</td>
        <td>@row.ID</td>
    </tr>
    }
    </tbody>
</table>
}
